---
import type { CollectionEntry } from 'astro:content';
import { getEntry } from 'astro:content';

import { GridList, HorizontalList, VerticalList } from '@/components/list';
import Separator from '@/components/separator.astro';
import AccentColors from '@/styles/colors/accent/indigo.astro';
import DuskColors from '@/styles/colors/dusk/slate.astro';
import ElementColors from '@/styles/colors/elements/default.astro';
import Font from '@/styles/fonts/inter.astro';
import type { ContextSlice } from '@/types/context';
import { getGlobalContext } from '@/utils/get-global-context';
import Achievement from '@/web/components/achievement.astro';
import { Basics } from '@/web/components/basics';
import Education from '@/web/components/education.astro';
import Favorite from '@/web/components/favorite.astro';
import Interest from '@/web/components/interest.astro';
import Job from '@/web/components/job.astro';
import Layout from '@/web/components/layout.astro';
import { Metadata } from '@/web/components/metadata';
import { Section, SectionTitle, Subsection, SubsectionTitle } from '@/web/components/section';
import { Sidebar, SidebarItem } from '@/web/components/sidebar';
import { Skill } from '@/web/components/skills';

interface Props {
  basicsEntry: CollectionEntry<'basics'>;
  metadataEntry: CollectionEntry<'metadata'>;
}

const { basicsEntry, metadataEntry } = Astro.props;
const context = getGlobalContext<ContextSlice<'website' | 'i18n' | 'locale'>>(Astro);
const t = context.i18n.t;

const getSkill = async (id: string) => {
  if (context.locale.code === 'es') {
    const esEntry = await getEntry('skills', `${id}-es` as CollectionEntry<'skills'>['slug']);
    if (esEntry) return esEntry;
  }
  return getEntry('skills', id as CollectionEntry<'skills'>['slug']);
};

const getJob = async (id: string) => {
  if (context.locale.code === 'es') {
    const esEntry = await getEntry('jobs', `${id}-es` as CollectionEntry<'jobs'>['slug']);
    if (esEntry) return esEntry;
  }
  return getEntry('jobs', id as CollectionEntry<'jobs'>['slug']);
};

const getAchievements = async (id: string) => {
  if (context.locale.code === 'es') {
    const esEntry = await getEntry('achievements', `${id}-es` as CollectionEntry<'achievements'>['slug']);
    if (esEntry) return esEntry;
  }
  return getEntry('achievements', id as CollectionEntry<'achievements'>['slug']);
};
---

<Layout class="gap-16 [&_section]:scroll-mt-8">
  <Fragment slot="head">
    <Font />
    <DuskColors />
    <AccentColors />
    <ElementColors />
    <Metadata entry={metadataEntry} />
  </Fragment>
  <Sidebar>
    <SidebarItem sectionId="basics" icon="fa6-solid:user">{t('about_me')}</SidebarItem>
    <SidebarItem sectionId="skills" icon="fa6-solid:bars-progress">{t('skills')}</SidebarItem>
    <SidebarItem sectionId="jobs" icon="fa6-solid:suitcase">{t('work_experience')}</SidebarItem>

    <SidebarItem sectionId="achievements" icon="fa6-solid:trophy">{t('achievements')}</SidebarItem>
    <SidebarItem sectionId="education" icon="fa6-solid:graduation-cap">{t('education')}</SidebarItem>
    <SidebarItem sectionId="favorites" icon="fa6-solid:star">{t('favorites')}</SidebarItem>
  </Sidebar>
  <Basics entry={basicsEntry} id="basics" />
  <Section class="gap-8" id="skills">
    <SectionTitle>{t('skills')}</SectionTitle>
    <VerticalList class="gap-8">
      <Subsection class="gap-2">
        <SubsectionTitle>{t('technologies')}</SubsectionTitle>
        <GridList class="gap-8" minColWidth="200px">
          <Skill withLevel entry={getSkill('astro')} />
          <Skill withLevel entry={getSkill('angular')} />
          <Skill withLevel entry={getSkill('typescript')} />
          <Skill withLevel entry={getSkill('sass')} />
          <Skill withLevel entry={getSkill('primeng')} />
          <Skill withLevel entry={getSkill('tailwind')} />
          <Skill withLevel entry={getSkill('prettier')} />
          <Skill withLevel entry={getSkill('eslint')} />
          <Skill withLevel entry={getSkill('nest')} />
          <Skill withLevel entry={getSkill('postgresql')} />
          <Skill withLevel entry={getSkill('mongo')} />
          <Skill withLevel entry={getSkill('firebase')} />
          <Skill withLevel entry={getSkill('karma')} />
          <Skill withLevel entry={getSkill('jasmine')} />
          <Skill withLevel entry={getSkill('jest')} />
          <Skill withLevel entry={getSkill('docker')} />
          <Skill withLevel entry={getSkill('sonar')} />
          <Skill withLevel entry={getSkill('react')} />
          <Skill withLevel entry={getSkill('storybook')} />
          <Skill withLevel entry={getSkill('ionic')} />
        </GridList>
      </Subsection>
      <Subsection class="gap-2">
        <SubsectionTitle>{t('wanna_learn')}</SubsectionTitle>
        <HorizontalList class="gap-3">
          <Skill entry={getSkill('flutter')} />
          <Skill entry={getSkill('react-native')} />
          <Skill entry={getSkill('supabase')} />
          <Skill entry={getSkill('cypress')} />
          <Skill entry={getSkill('svelte')} />
        </HorizontalList>
      </Subsection>
      <Subsection class="gap-2">
        <SubsectionTitle>{t('languages')}</SubsectionTitle>
        <HorizontalList class="gap-3">
          <Skill entry={getSkill('spanish')} />
          <Skill entry={getSkill('english')} />
        </HorizontalList>
      </Subsection>
    </VerticalList>
  </Section>
  <Section class="gap-8" id="jobs">
    <SectionTitle>{t('work')}</SectionTitle>
    <VerticalList class="gap-10">
      <Job entry={getJob('consultec-lead')} />
      <Separator />
      <Job entry={getJob('consultec')} />
      <Separator />
      <Job entry={getJob('mensajeros-urbanos')} />
      <Separator />
      <Job entry={getJob('pragma')} />
      <Separator />
      <Job entry={getJob('stackpointer')} />
    </VerticalList>
  </Section>

  <Section class="gap-8" id="achievements">
    <SectionTitle>{t('achievements')}</SectionTitle>
    <VerticalList class="gap-8">
      <Achievement entry={getAchievements('reactathon-hackathon')} />
    </VerticalList>
  </Section>
  <Section class="gap-8" id="education">
    <SectionTitle>{t('education')}</SectionTitle>
    <VerticalList class="gap-10">
      <Education entry={getEntry('education', 'master')} />
      <Separator />
      <Education entry={getEntry('education', 'bachelor')} />
    </VerticalList>
  </Section>
  <Section class="gap-8" id="favorites">
    <SectionTitle>{t('favorites')}</SectionTitle>
    <VerticalList class="gap-10">
      <Subsection class="gap-2">
        <SubsectionTitle>{t('people_i_learn_from')}</SubsectionTitle>
        <GridList class="gap-4 md:grid-cols-2">
          <Favorite image="person" entry={getEntry('favorites', 'people/addy-osmani')} />
          <Favorite image="person" entry={getEntry('favorites', 'people/anthony-fu')} />
          <Favorite image="person" entry={getEntry('favorites', 'people/dan-abramov')} />
          <Favorite image="person" entry={getEntry('favorites', 'people/josh-w-comeau')} />
          <Favorite image="person" entry={getEntry('favorites', 'people/kent-c-dodds')} />
          <Favorite image="person" entry={getEntry('favorites', 'people/lee-robinson')} />
        </GridList>
      </Subsection>
    </VerticalList>
  </Section>
  <Section class="gap-8">
    <SectionTitle>{t('interests')}</SectionTitle>
    <HorizontalList class="gap-x-4 gap-y-3">
      <Interest entry={getEntry('interests', 'cooking')} />
      <Interest entry={getEntry('interests', 'running')} />
      <Interest entry={getEntry('interests', 'technical-blogging')} />
      <Interest entry={getEntry('interests', 'video-montage')} />
    </HorizontalList>
  </Section>
</Layout>
